IBM_API_KEY=your_ibm_api_key_here
WATSONX_PROJECT_ID=your_watsonx_project_id_here
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_MODEL_ID=your_model_id_here
WATSONX_MAX_NEW_TOKENS=900
WATSONX_TEMPERATURE=0.0